<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>

<header>
    <nav class="navbar navbar-default" role="navigation">           
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Search</a></li> 
        </ul>    
    </nav>

    <h2>This is the new workout</h2>

</header>

    <%= workouts.length %>  

    <% workouts.forEach( workout => { %>  
        <div class="workout-results-container">
            <h2>Workout Name: <%= workout.name %></h2>
            <h3>Workout Category: <%= workout.category %></h3>
            <p>Workout Equipment: <%= workout.equipment %></p>
            <div class="workoutDescription">Workout Description: <%- workout.description %></div>

            <form action="/saves" method="POST">
                <input type="hidden" name="name" value='<%= workout.name %>' />
                <input type="hidden" name="category"   value='<%= workout.category %>' />
                <input type="hidden" name="equipment" value='<%= workout.equipment %>'/>
                <input type="hidden"  name="description" value="<%= workout.description %>" />
                <button type="submit" class="save-this-workout">Save this workout</button> 
            </form>       
        </div>
<% }) %> 



<footer> </footer>

</body>
</html>