<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title>Mystery Project</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="/css/searchResults.css">
</head>

<body>

    <header>
        <h1>Mystery Project</h1>
        <nav class="navbar navbar-default" role="navigation">           
          <ul class="nav navbar-nav">
              <li><a class="navRadius" href="/">Home</a></li>
              <li><a class="navRadius" href="/searches/new">Search Workouts</a></li>
              <li><a class="navRadius" href="/workout">My Workouts</a></li>
              <li><a class="navRadius" href="/login">Login</a></li>
              <!-- <li><a href="/books/2">Book</a></li> -->   </ul>    
      </nav>
  </header>

  
  <h1>There are <%= workouts.length %> <%= workout.category %> workouts for you to view</h1> 


    <% workouts.forEach( workout => { %>  

        <div class="workout-results-container">
            <h2><%= workout.name %></h2>
            <p><strong>Workout Equipment:</strong><%= workout.equipment %></p>
            <div class="workoutDescription">Workout Description: <%- workout.description %></div>

            <form action="/saves" method="POST">
                <input type="hidden" name="id" value='<%= workout.id %>' />
                <input type="hidden" name="name" value='<%= workout.name %>' />
                <input type="hidden" name="category"   value='<%= workout.category %>' />
                <input type="hidden" name="equipment" value='<%= workout.equipment %>'/>
                <input type="hidden"  name="description" value="<%= workout.description %>" />
                <button type="submit" class="save-this-workout">Save this workout</button> 
            </form>       
        </div>
<% }) %> 



<footer> </footer>

</body>
</html>